#character_choice {
  h2 {
    text-align: center;
  }

  .flex {
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;

    .character {
      button {
        background-color: inherit;
        border: none;
        border-radius: 30px;
        padding: 10px;
        box-shadow: none;
      }

      button.character-button {
        &.active {
          background-color: #eee;
          border: 1px solid red;
        }

        p {
          font-size: 20px;
          font-weight: bold;
        }

        img {
          height: 30vw;
          width: auto;
        }
      }

      .popup {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
        align-items: center;
        text-align: center;
        margin: 30px 15px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid;
        border-radius: 30px;
        z-index: 999;

        h3,
        p {
          margin: 0;
        }

        p {
          font-size: 15px;
        }

        ul.skills {
          display: flex;
        }

        button {
          width: fit-content;
          padding: 15px 30px;
          background-color: #eee;
        }
      }
    }
  }

  .instructions {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 1;

    p {
      width: 75%;
      margin: 22vh 0;
      padding: 20px 15px;
      text-align: center;
      border: 1px solid;
      border-radius: 30px;
    }
  }
}
