.skills {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  margin: 10px auto;
  max-width: 450px;

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 16px;
    gap: 8px;
    transition: background-image 0.3s ease-in-out;

    .icon {
      width: 50px;
      height: 50px;
      min-height: 50px;
    }

    &.Mental {
      background-color: #dff5ff;
    }

    &.Social {
      background-color: #feffdf;
    }

    &.Argent {
      background-color: #ffeadf;
    }

    &.Santé {
      background-color: #ffdffc;
    }
  }
}
