
html,
body,
.body-content {
    background-color: #fff;
}
.flex {
    display: flex;
}

.popup {
    position: absolute;
}

.selected-character {
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    z-index: 999;
}